.error {
    height: 13vh;
    width: 100vw;
    background-color: darkgoldenrod;
    opacity: 0.9;
    position: fixed;
    top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
}

.error__close {
    position: relative;
    left: 73%;
    top: -31%;
    height: 1.2rem;
    cursor: pointer;
}

.errormsg p {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Hind Siliguri', sans-serif;
}