.slider {
    /* overflow: hidden; */
    display: flex;
    align-items: center;
}

.slider_img {
    height: 45vh;
    width: 43vw;
}

.active {
    animation: bigtosmall 0.5s ease-in-out alternate;
    transition: all ease-in;
}

@keyframes bigtosmall {
    0% {
        opacity: 0.4;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.left {
    height: 26px;
    /* margin-top: 10rem; */
    padding-right: 5px;
}

.left:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.right {
    height: 26px;
    /* margin-top: 10rem; */
    padding-left: 5px;
}

.right:hover {
    cursor: pointer;
    transform: scale(1.02);
}

@media(min-width:320px) and (max-width:480px) {
    .slider_img {
        height: 28vh;
        width: 74vw;
    }
    .left {
        /* margin-top: 7rem; */
    }
    .right {
        /* margin-top: 7rem; */
    }
}

@media (min-width:481px) and (max-width:768px) {
    .slider_img {
        height: 28vh;
        width: 74vw;
    }
    .left {
        /* margin-top: 7rem; */
    }
    .right {
        /* margin-top: 7rem; */
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .slider_img {
        height: 36vh;
        width: 43vw;
    }
}